@model ProjetoModeloDDD.ApresentacaoWeb.ViewModels.ComentarioViewModel

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>ComentarioViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComentarioID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
