@model IEnumerable<WebApplicationPrimeiraAvaliacao.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Cliente Mais</h2>

<p>
    @Html.ActionLink("Adicionar Clientes", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalhar", "Details", new { id=item.id }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
